@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #F6F4EB;
    justify-content: space-between;
    padding: 0px 10px;
}

body {
    font-family: poppins;
}

.btn-groups {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 3px;
}

.btn-navbar {
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 106, 148);
}

.btn-navbar:hover {
    background-color: #00547a;
    color: white;
}

.main {
    background-image: url(../assets/bg10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    padding-top: 165px;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
}


.input-main {
    margin-top: 8%;
}

.input-main input {
    height: 30px;
    width: 50%;
    margin-bottom: 300px;
}

.input-main button {
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: rgb(60, 151, 211);
    color: white;
}

.content-item {
    background-color: #ffffff;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}


.body {
    justify-content: center;
    font-size: 100px;
    font-family: 'roboto';
    flex-direction: column;
    align-items: center;
    color: rgb(231, 231, 231);

}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
    height: 180px;
    width: 180px;
    background-color: rgba(71, 175, 206, 0.952);
    border-radius: 10px;
}

.card-body a {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
}

.profile {
    display: flex;
    column-gap: 70px;
}

.profile-destination {
    display: flex;
    column-gap: 70px;
}

.icons {
    width: 80px;
}

.icons:hover {
    transform: scale(1.2);
    transition: 10ms;
}

.content-item-2 {
    background-color: #00547a;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-weight: bold;
}

.card-content {
    display: flex;
    margin-top: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #F6F4EB;

}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}

.card button:hover {
    opacity: 0.7;
}

.card-content .card .card-title {
    font-size: large;
    font-weight: bold;
    color: #025675;
    margin-bottom: 30px;
}

.card-content .card p {
    font-size: small;
    color: #1c526b;
}


.content-item-2 .btn-book {
    height: 30px;
    width: 150px;
    font-weight: bold;
    background-color: rgb(5, 49, 78);
    color: rgb(252, 252, 252);
}

.content-item .deskr {
    display: block;
}

.all {
    font-size: medium;
    color: rgb(1, 26, 63);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    color: white;
    background-color: #021720;
    padding: 10px;
    font-size: small;
    justify-content: space-between;
    display: flex;
}

.btn-footer {
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: rgb(252, 252, 252);
}

.content-destination {
    opacity: 85%;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 100px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
    text-shadow: #000000;
}

.row {
    display: flex;
    margin: 20px 80px;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    background-color: #001720;
    border-radius: 10px;
}

.column-img {
    background-image: url(../assets/london.jpg);
    background-size: cover;
    flex: 50%;
    padding: 10px;
    height: 300px;
    background-color: #001720;
    border-radius: 10px;
}

.column p {
    font-size: 13.3px;
    color: rgb(187, 204, 226);
    text-align: justify;
    text-indent: 0.5in;
    padding: 10px;
}

.tittle-destination {
    margin-top: 30px;
    text-align: center;
    color: #04161d;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: rgb(15, 109, 109);
    color: white;
    font-size: small;
}

/* form */
.body-form {
    margin:0;
    padding:0;
    font-family: sans-serif;
   background-color: rgb(138, 201, 180);
  }

  .login-box #submit_button {
    width: 100%;
    height: 30px;
    background-color: rgb(15, 109, 109);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .login-box #submit_button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }


/* responsive */
@media only screen and (max-width: 1310px) {
    nav {
        display: flex;
        background-color: #F6F4EB;
        justify-content: space-between;
    }


    .card-body {
        flex-direction: column;
        align-items: center;
        margin-top: -60px;
        height: 100px;
        width: 100px;
        background-color: rgba(71, 175, 206, 0.952);
        border-radius: 10px;
    }

    .icons {
        width: 50px;
    }

    .icons:hover {
        transform: scale(1.2);
        transition: 10ms;
    }

    .profile {
        display: flex;
        column-gap: 20px;
    }

    .card-body a {
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 10px;
    }

    .all {
        padding: 20px;
        font-size: small;
    }

    .content-item-2 {
        font-size: 50px;
    }

    .card-content {
        display: block;
        margin-top: 25px;
    }

    .card {
        margin-bottom: 40px;
    }

    .row {
        display: block;
        margin: 20px 80px;
    }

    .column {
        flex: 50%;
        padding: 10px;
        height: auto;
        background-color: #001720;
        border-radius: 10px;
    }


    .column p {
        font-size: 13.3px;
        color: rgb(187, 204, 226);
        text-align: justify;
        text-indent: 0.5in;
    }

    .content-destination {
        font-size: 30px;
    }

    .profile-destination {
        display: block;
        column-gap: 70px;
    }

}